<section class="products">
  <div class="products__content container">
    <header class="products__header">
      <h2 class="products__title-main">
        Репродукции
      </h2>
      <ul class="products__list-cities">
        <li class="products__item-cities">
          <button class="products__button-city products__button-active">Франция</button>
        </li>
        <li class="products__item-cities">
          <button class="products__button-city">Германия</button>
        </li>
        <li class="products__item-cities">
          <button class="products__button-city">Англия</button>
        </li>
      </ul>
    </header>
  </div>
</section>
