<section class="products">
  <div class="products__content container">
    <header class="products__header">
      <h2 class="products__title-main">
        Репродукции
      </h2>
      <ul class="products__list-cities">
        <li class="products__item-cities">
          <button appSelectCity [city]="City.FR" [currentCity]="currentCity()" (citySelected)="onCitySelected($event)"
                  class="products__button-city">Франция
          </button>
        </li>
        <li class="products__item-cities">
          <button appSelectCity [city]="City.DE" [currentCity]="currentCity()" (citySelected)="onCitySelected($event)"
                  class="products__button-city">Германия
          </button>
        </li>
        <li class="products__item-cities">
          <button appSelectCity [city]="City.GB" [currentCity]="currentCity()" (citySelected)="onCitySelected($event)"
                  class="products__button-city">Англия
          </button>
        </li>
      </ul>
    </header>
  </div>
</section>
