<footer class="footer-main" role="contentinfo" xmlns="http://www.w3.org/1999/html">
  <div class="footer-main__content container">
    <div class="footer-main__contact">
      <a class="footer-main__link-logo" href="#">
        <img src="./assets/images/vector/logo.svg" width="143" height="35" alt="Логотип компании Ink House">
      </a>
      <a class="footer-main__link-phone" href="tel:+7(999)543-54-54">+7 (999) 543-54-54</a>
      <span>Мастерская</span>
    </div>
    <nav class="footer-main__nav">
      <div class="footer-main__nav-column">
        <h3 class="footer-main__title-nav">Репродукции</h3>
        <ul class="footer-main__list footer-main__list-nav">
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Франция</a></li>
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Германия</a></li>
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Англия</a></li>
        </ul>
      </div>
      <div class="footer-main__nav-column">
        <h3 class="footer-main__title-nav">Новинки</h3>
        <ul class="footer-main__list-nav">
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">2021</a></li>
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">2022</a></li>
        </ul>
      </div>
      <div class="footer-main__nav-column">
        <h3 class="footer-main__title-nav">О нас</h3>
        <ul class="footer-main__list-nav">
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Художники</a></li>
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Менеджеры</a></li>
        </ul>
      </div>
    </nav>
    <div class="footer-main__social">
      <ul class="footer-main__list footer-main__list-social">
        <li class="footer-main__item-social">
          <a class="footer-main__link-social" href="#" aria-label="Facebook">
            <svg width="24" height="24">
              <use href="./assets/images/vector/footer-facebook.svg#footer-main-facebook"/>
            </svg>
          </a>
        </li>
        <li class="footer-main__item-social">
          <a class="footer-main__link-social" href="#" aria-label="Instagram">
            <svg width="24" height="24">
              <use href="./assets/images/vector/footer-instagram.svg#footer-main-instagram"/>
            </svg>
          </a>
        </li>
        <li class="footer-main__item-social">
          <a class="footer-main__link-social" href="#" aria-label="Youtube">
            <svg width="24" height="24">
              <use href="./assets/images/vector/footer-youtube.svg#footer-main-youtube"/>
            </svg>
          </a>
        </li>
      </ul>
      <small class="footer-main__copyright">Ink. House<sup>&reg;</sup></small>
      <span>All rights reserved</span>
    </div>
  </div>
</footer>
