@use "../../../styles/variables" as variables;

.footer-main {
  background-color: variables.$bg-main;
  color: variables.$gray-green;
  letter-spacing: 0;
  text-align: left;
  padding-top: 23px;
  padding-bottom: 23px;

  &__content {
    display: flex;
  }

  &__contact {
    margin-right: 115px;

    span {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__list {
    &-nav {
      list-style: none;
    }
  }

  &__title {
    &-nav {
      color: variables.$text-main-color;
      font-size: 20px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0;
      text-align: left;
    }
  }

  &__link {
    &-logo {
      display: block;
      margin-bottom: 35px;

      img {
        display: block;
      }
    }

    &-phone {
      display: block;
      text-decoration: none;
      color: variables.$text-main-color;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 8px;
    }

    &-nav {
      text-decoration: none;
      color: variables.$gray-green;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0;
      text-align: left;
    }
  }

  &__nav {
    display: flex;
    gap: 60px;
  }
}
