@use "../../../styles/variables" as variables;

.footer-main {
  background-color: variables.$bg-main;
  color: variables.$gray-green;
  letter-spacing: 0;
  text-align: left;
  padding-top: 23px;
  padding-bottom: 23px;

  &__content {
    display: flex;

    @media (width <= 940px) {
      flex-direction: column;
    }

    @media (width <= 480px) {
      flex-flow: row wrap;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (width <= 715px) {
      flex-direction: column;
    }

    &-copyright {
      display: flex;
      flex-direction: column;

      @media (width <= 715px) {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__contact {
    margin-right: 115px;

    span {
      font-size: 18px;
      line-height: 21px;

      @media (width <= 576px) {
        font-size: 16px;
      }
    }

    @media (width <= 940px) {
      margin: 0 0 30px;
      display: flex;
      justify-content: space-between;
    }

    @media (width <= 480px) {
      flex-direction: column;
    }
  }

  &__list {
    list-style: none;

    &-nav {
      li:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &-social {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  }

  &__title {
    &-nav {
      color: variables.$text-main-color;
      font-size: 20px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 6px;
    }
  }

  &__link {
    &-logo {
      display: block;
      margin-bottom: 35px;

      img {
        display: block;
      }

      @media (width <= 940px) {
        margin: 0;
      }
    }

    &-phone {
      display: block;
      text-decoration: none;
      color: variables.$text-main-color;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 8px;
      white-space: nowrap;
    }

    &-nav {
      text-decoration: none;
      color: variables.$gray-green;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0;
      text-align: left;

      @media (width <= 576px) {
        font-size: 16px;
      }
    }

    &-social {
      color: variables.$text-main-color;

      svg {
        display: block;
      }
    }
  }

  &__nav {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

    @media (width <= 715px) {
      margin-bottom: 15.5px;
      justify-content: space-between;
    }

    @media (width <= 480px) {
      gap: 20px;
      div:last-child {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0;

    small {
      margin-bottom: 6px;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 0;
    }

    @media (width <= 940px) {
      padding-right: 38px;
    }

    @media (width <= 715px) {
      align-items: center;
      margin: 0;;
      border-top: 1px solid variables.$grey;
      padding: 16.5px 0 0;
    }
  }
}
