<footer class="footer-main" role="contentinfo">
  <div class="footer-main__content container">
    <div class="footer-main__contact">
      <a class="footer-main__link-logo" href="#">
        <img src="./assets/images/vector/logo.svg" width="143" height="35" alt="Логотип компании Ink House">
      </a>
      <a class="footer-main__link-phone" href="tel:+7(999)543-54-54">+7 (999) 543-54-54</a>
      <span>Мастерская</span>
    </div>
    <nav class="footer-main__nav">
      <div class="footer-main__nav-column">
        <h3 class="footer-main__title-nav">Репродукции</h3>
        <ul class="footer-main__list-nav">
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Франция</a></li>
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Германия</a></li>
          <li class="footer-main__item-nav"><a class="footer-main__link-nav" href="#">Англия</a></li>
        </ul>
      </div>
      <div class="footer-main__nav-column">
        <h3 class="footer-main__title-nav">Новинки</h3>
      </div>
      <div class="footer-main__nav-column">
        <h3 class="footer-main__title-nav">О нас</h3>
      </div>
    </nav>
    <div class="footer-main__social"></div>
  </div>
</footer>
