@use '../variables' as variables;

@mixin button-style($width: 225px, $fontSize: 20px, $lineHeight: 23px, $paddingTopBottom: 20px, $paddingLeftRight: 59px) {
  display: inline-block;
  width: $width;
  text-decoration: none;
  color: variables.$hover;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: 0;
  text-align: left;
  padding: $paddingTopBottom $paddingLeftRight;
  border: 1px solid variables.$hover;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: variables.$hover;
    color: variables.$hovered-text-on-dark;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: variables.$focus;
  }

  &:active {
    background-color: variables.$active;
  }
}
