@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/raleway-medium.woff2") format("woff2"),
  url("../assets/fonts/raleway-medium.woff") format("woff"),
  url("../assets/fonts/raleway-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
