// ===== COLOR =====
$text-main-color: rgb(44 45 53 / 100%);
$grey: rgb(195 209 198 / 100%);
$gray-green: rgb(134 146 139 / 100%);
$storm-grey: rgb(76 88 102 / 100%);
$hovered-text-on-dark: rgb(244 246 245 / 100%);

/* Фон */
$bg-main: rgb(225 237 230 / 100%);

/* Компоненты */
$hover: rgb(89 141 102 / 100%);
$active: rgb(55 107 68 / 100%);
$focus: rgb(212 232 217 / 100%);
$button-selected-background: rgb(55 107 68 / 100%);

// ===== TYPOGRAPHY =====
$font-family-primary: "Raleway", sans-serif;
