<section id="about" class="about">
  <div class="about__content container">
    <picture class="about__wrapper-image">
      <source
        srcset="./assets/images/raster/about-decoration-mobile.png"
        media="(max-width: 480px)"
      />
      <source
        srcset="./assets/images/raster/about-decoration-tablet-mini.png"
        media="(max-width: 576px)"
      />
      <source
        srcset="./assets/images/raster/about-decoration-tablet.png"
        media="(max-width: 768px)"
      />
      <img src="./assets/images/raster/about-decoration-desktop.png" alt="" />
    </picture>
    <div class="about__wrapper-info">
      <h2 class="about__title-main">Наша команда</h2>
      <p class="about__text">
        Значимость этих проблем настолько очевидна, что базовый вектор развития
        позволяет оценить значение экспериментов, поражающих по своей
        масштабности и грандиозности. Мы вынуждены отталкиваться от того, что
        консультация с широким активом.
      </p>
      <ul class="about__list-avatars">
        <li class="about__item-avatars">
          <img
            src="./assets/images/raster/about-avatar-1.png"
            width="80"
            height="80"
            alt="Ирина - художник"
            loading="lazy"
          />
        </li>
        <li class="about__item-avatars">
          <img
            src="./assets/images/raster/about-avatar-2.png"
            width="80"
            height="80"
            alt="Галина - дизайнер"
            loading="lazy"
          />
        </li>
        <li class="about__item-avatars">
          <img
            src="./assets/images/raster/about-avatar-3.png"
            width="80"
            height="80"
            alt="Андрей - художник"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
