@use '../../../styles/variables' as variables;

.card {
  background-color: variables.$bg-main;
  padding: 20px 20px 30px;

  &__wrapper {
    &-image {
      display: block;
      max-width: 350px;
      width: 100%;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      @media (width <= 768px) {
        max-width: 290px;
      }

      @media (width <= 576px) {
        max-width: 200px;
      }

      @media (width <= 480px) {
        max-width: 250px;
      }
    }
  }

  @media (width <= 480px) {
    display: flex;
    justify-content: center;
  }
}
