@use "../../../styles/variables" as variables;
@use "../../../styles/abstracts/mixins" as mixins;

.card {
  background-color: variables.$bg-main;
  padding: 20px 20px 30px;
  color: variables.$text-main-color;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__wrapper {
    &-image {
      display: block;
      max-width: 350px;
      width: 100%;
      margin-bottom: 20px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      @media (width <= 768px) {
        max-width: 290px;
      }

      @media (width <= 576px) {
        max-width: 200px;
        margin-bottom: 15px;
      }

      @media (width <= 480px) {
        max-width: 250px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-bottom: 20px;

      @media (width <= 576px) {
        margin-bottom: 10px;
      }
    }
  }

  &__author {
    color: variables.$gray-green;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;

    @media (width <= 576px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;

    @media (width <= 576px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 30px;

    @media (width <= 576px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__price {
    color: variables.$hover;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    margin-top: auto;

    @media (width <= 576px) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__button {
    &-buy {
      margin-top: auto;

      @include mixins.button-style(
        $width: 100%,
        $fontSize: 20px,
        $lineHeight: 23px,
        $paddingTopBottom: 20px,
        $paddingLeftRight: 0
      );

      @media (width <= 576px) {
        @include mixins.button-style(
          $width: 100%,
          $fontSize: 20px,
          $lineHeight: 21px,
          $paddingTopBottom: 13.5px,
          $paddingLeftRight: 0
        );
      }
    }
  }

  @media (width <= 480px) {
    /*    display: flex;
    flex-direction: column;*/
    align-items: center;
  }
}
