@use '../../../styles/variables' as variables;

.card {
  background-color: variables.$bg-main;
  padding: 20px 20px 30px;
  color: variables.$text-main-color;
  height: 100%;

  &__wrapper {
    &-image {
      display: block;
      max-width: 350px;
      width: 100%;
      margin-bottom: 20px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      @media (width <= 768px) {
        max-width: 290px;
      }

      @media (width <= 576px) {
        max-width: 200px;
      }

      @media (width <= 480px) {
        max-width: 250px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
    }
  }

  &__author {
    color: variables.$gray-green;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;

    @media (width <= 576px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;

    @media (width <= 576px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 30px;

    @media (width <= 576px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__price {
    color: variables.$hover;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;

    @media (width <= 576px) {
      font-size: 20px;
      line-height: 23px;
    }
  }

  @media (width <= 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
