@use "./styles/fonts";
@use "./styles/variables" as variables;
@import "../node_modules/swiper/swiper.css";
@import "../node_modules/swiper/modules/pagination.css";
@import "../node_modules/swiper/modules/navigation.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: variables.$font-family-primary;
  color: variables.$text-main-color;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (width <= 768px) {
    padding: 0 39px;
  }

  @media (width <= 576px) {
    padding: 0 33px;
  }

  @media (width <= 480px) {
    padding: 0 15px;
  }
}

.link {
  text-decoration: none;
  color: variables.$text-main-color;
  transition: all 0.3s ease;

  &:hover {
    color: variables.$hover;
  }

  &:active {
    color: variables.$active;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: variables.$focus;
  }
}

.products .products__content {
  mat-button-toggle {
    background-color: variables.$focus;
    transition:
      background-color 0.5s ease,
      color 0.5s ease;

    &:hover {
      background-color: variables.$hover;
      color: variables.$hovered-text-on-dark;

      .mat-button-toggle-button
        .mat-button-toggle-checkbox-wrapper
        .mat-pseudo-checkbox-checked::after {
        border-left: 2px solid variables.$hovered-text-on-dark;
      }

      .mat-pseudo-checkbox::after {
        border-bottom: 2px solid variables.$hovered-text-on-dark;
      }
    }

    &:active {
      background-color: variables.$active;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px variables.$hover solid;
    }
  }

  .mat-button-toggle.mat-button-toggle-checked {
    background-color: variables.$active;
    color: variables.$hovered-text-on-dark;

    .mat-button-toggle-button
      .mat-button-toggle-checkbox-wrapper
      .mat-pseudo-checkbox-checked::after {
      border-left: 2px solid variables.$hovered-text-on-dark;
    }

    .mat-pseudo-checkbox::after {
      border-bottom: 2px solid variables.$hovered-text-on-dark;
    }
  }
}

.swiper-slide {
  height: auto;
  display: flex;

  @media (width <= 480px) {
    justify-content: center;
  }
}

.hide {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
