@use "./styles/fonts";
@use "./styles/variables" as variables;

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: variables.$font-family-primary;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: variables.$text-main-color;
  transition: all 0.3s ease;

  &:hover {
    color: variables.$hover;
  }

  &:active {
    color: variables.$active;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: variables.$focus;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
