@use './styles/fonts';

*, *::before, *::after {
  box-sizing: border-box;

  ul {
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
