<section class="hero">
  <div class="hero__content container">
    <div class="hero__wrapper-image">
      <img
        src="./assets/images/raster/hero-bird.png"
        width="540"
        height="621"
        alt=""
      />
    </div>
    <div class="hero__wrapper-info">
      <h2 class="hero__title-info">
        Реплики картин от <span>Ink. House</span>
      </h2>
      <p class="hero__text">
        Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие
        произведения, доступные цены.
      </p>
      <a class="hero__link-products" href="#">Продукция</a>
    </div>
  </div>
</section>
