@use '../../../styles/variables' as variables;

.hero {
  &__content {
    display: flex;
    gap: 30px;
  }

  &__wrapper {
    &-image {
      max-width: 540px;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-info {
      padding: 145px 0;
    }
  }

  &__title {
    &-info {
      font-size: 60px;
      line-height: 110%;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 20px;

      span {
        color: variables.$hover;
      }
    }
  }

  &__text {
    color: variables.$gray-green;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 60px;
  }

  &__link {
    &-products {
      display: inline-block;
      width: 225px;
      text-decoration: none;
      color: variables.$hover;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0;
      text-align: left;
      padding: 20px 59px;
      border: 1px solid variables.$hover;
      transition: color 0.3s ease, background-color 0.3s ease;

      &:hover {
        background-color: variables.$hover;
        color: variables.$hovered-text-on-dark;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        background-color: variables.$focus;
      }

      &:active {
        background-color: variables.$active;
      }
    }
  }
}
