@use '../../../styles/variables' as variables;
@use '../../../styles/abstracts/mixins' as mixins;

.hero {
  &__content {
    display: flex;
    gap: 30px;
  }

  &__wrapper {
    &-image {
      max-width: 540px;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-info {
      padding: 145px 0;
    }
  }

  &__title {
    &-info {
      font-size: 60px;
      line-height: 110%;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 20px;

      span {
        color: variables.$hover;
      }
    }
  }

  &__text {
    color: variables.$gray-green;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 60px;
  }

  &__link {
    &-products {
      @include mixins.button-style(20px, 23px, 225px)
    }
  }
}
