<section class="hero" aria-labelledby="hero-title">
  <h2 id="hero-title" class="hero__title-main visually-hidden">Реплики картин Ink. House</h2>
  <div class="hero__content container">
    <div class="hero__wrapper-image">
      <img src="./assets/images/raster/hero-bird.png" width="540" height="621" title="Голубь"
           alt="Нахохлившийся голубь на ветке">
    </div>
    <div class="hero__wrapper-info">
      <h3 class="hero__title-info">Реплики картин от <span>Ink. House</span></h3>
      <p class="hero__text">Высокое качество отрисовки на плотной бумаге или льняном холсте. Редкие произведения,
        доступные цены.</p>
      <a class="hero__link-products" href="#">Продукция</a>
    </div>
  </div>
</section>
